<!DOCTYPE html>
<html lang="tr">

<head>

<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>
iVerify V2
</title>


<link rel="stylesheet" href="/static/css/style.css">

</head>


<body>


<header>

<h1>
iVerify V2
</h1>

<p>
Sosyal Medya Veri Analiz Motoru
</p>

</header>


<nav>

<a href="/">
Ana Sayfa
</a>

<a href="/upload">
Analiz Başlat
</a>

</nav>


<main>

{% block content %}

{% endblock %}

</main>


</body>

</html>